@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* html * {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
} */

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 10px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover,
html *::-webkit-scrollbar-thumb:hover {
  background: #616774;
}

.overflow-x-scroll::-webkit-scrollbar {
  height: 10px;
}

.overflow-x-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 6px;
}

.overflow-x-scroll::-webkit-scrollbar-thumb:hover {
  background: #616774;
}

/* .overflow-x-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
} */

@layer utilities {}